body {
    background-image: url("/assets/img/my-wallet-brand.jpg");
}

.main-box {
}

.login-main-box {
    border: 1px solid red;
    padding: 32px;
    margin-top: 20px ;
}

.login-title {
    background: #51CBC3;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    text-align: center;
}

.login-title h3 {
}


/* --------- box content login ------------- */
.form-signin {
    max-width: 400px;
    display:block;
    background-color: #f7f7f7;
    -moz-box-shadow: 0 0 3px 3px #888;
    -webkit-box-shadow: 0 0 3px 3px #888;
    box-shadow: 0 0 3px 3px #888;
    border-radius:2px;
}
.main{
    padding: 1px 38px 38px 38px;
}
.social-box{
    margin: 0 auto;
    padding: 38px;
   /* border-bottom:1px #ccc solid; */
}
.social-box a{
    font-weight:bold;
    font-size:18px;
    padding:8px;
}
.social-box a i{
    font-weight:bold;
    font-size:20px;
}
.heading-desc{
    font-size:20px;
    font-weight:bold;
    padding:38px 38px 0px 38px;

}

.heading-desc h3 {
   font-family: 'Metrophobic', Arial, serif; font-weight: 400;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: 20px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: 10px;
    border-radius: 5px;

}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-radius: 5px;
}
.login-footer{
    background:#f0f0f0;
    margin: 0 auto;
    border-top: 1px solid #dadada;
    padding:20px;
}
.login-footer .left-section a{
    font-weight:bold;
    color:#8a8a8a;
    line-height:19px;
}
.mg-btm{
    margin-bottom:20px;
}

.conditional-label {
    text-align: center;
    border-radius: 50%;
    background: #fff;
    height: 40px;
    width: 40px;
    padding: 9px;
    margin-top: 7px;
}

/* --------------------------*/

.service-wrapper {
    background: #FFF;
    margin: 20px 10px;
    text-align: center;
    padding: 30px 20px;
    -webkit-border-radius: 5px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 5px;
    -moz-background-clip: padding;
    border-radius: 5px;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 3px #999;
    -moz-box-shadow: 0 0 3px #999;
    box-shadow: 0 0 3px #999;
    color: 0 0 3px #999;
}
